.title{
    margin-top: 100px;
    margin-bottom: 50px;
}


.color-picker-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.color-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}
.white {
    background-color: white;
}

.red {
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.pink {
    background-color: pink;
}

